* {
  margin:0;
}

$heady-color: RGBA(227, 228, 228, .5);
$darker-heady: RGBA(227, 228, 228, .9);
$hover-color: RGBA(65, 131, 196, 1);
$text-color: #333;

header {
  background-color: $heady-color;
  border-bottom: 1px solid $darker-heady;
  color: $text-color;
}

nav {
  height: 2.75em;
  margin: 0 5%;
  .octicon:hover, a {
    color: $hover-color;
  }
}

ul {
  display: inline-block;
  font-family: Helvetica, arial, sans-serif;
  font-weight: bold;
  list-style: none;
  padding-top: .5em;
}

ul li {
  float: left;
  font-size: 0.8em;
}

ul.left {
  float: left;
  width: 23%;
  li:first-child {
    padding: .5em;
  }
}

ul.mid {
  float: left;
  padding: .75em 0em 0 0;
  li {
    padding: 0.25em .5em;
  }
  a {
    text-decoration: none;
    color: $text-color;
  }
  a:hover{
    color: $hover-color;
  }

}

ul.right {
  float: right;
  li {
    padding: 0.5em;
  }
  a {
    text-decoration: none;
    color: $text-color;
  }
  a:hover{
    color: $hover-color;
  }
}

input[type="search"] {
  position: relative;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  display: inline-block;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  border: 1px solid #E0E0E0;
  width: 138%;
}

.page-wrapper {
  margin: 0 7.5%;
}

.huge {
  margin: 1em;
  img {
    border-radius: 6px;
  }
}
