* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$heady-color: RGBA(227, 228, 228, .5);
$darker-heady: RGBA(227, 228, 228, .9);
$hover-color: RGBA(65, 131, 196, 1);
$text-color: #333;
$primary-font: Helvetica, arial, sans-serif;

header {
  background-color: $heady-color;
  border-bottom: 1px solid $darker-heady;
  color: $text-color;
}


ul {
  font-family: $primary-font;
  font-weight: bold;
  list-style: none;
  padding-top: .5em;
}

ul li {
  font-size: 0.8em;
  padding:0 .25em;
}

a {
  color: $text-color;
  text-decoration: none;
  &:hover{
    color: $hover-color;
  }
}

nav {
  height: 2.75em;
  margin: 0 7% 0 8%;

  .octicon:hover {
    color: $hover-color;
  }
  ul li {
    float: left;
  }
  .left {
    float: left;
    width: 23%;
  }
  .mid {
    float: left;
    padding: 0.75em 0 0 1.5em;

    li {
      padding: 0.25em .5em;
    }
  }
  .right {
    float: right;

    li {
    float: left;
    padding: 0.5em;
    }
  img {
    height: 20px;
    padding: 0;
    }
  span.name {
    top: -0.6em;
    position: relative;
    }
  }
}

input[type="search"] {
  position: relative;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  display: inline-block;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  border: 1px solid #E0E0E0;
  width: 138%;
}

.page-wrapper {
  margin: 0 8.5%;
}

aside {
  display: inline-block;
  float: left;
  font-family:$primary-font;
  margin: .5em 0;
  width: 25%;

  .huge {
    margin: 1em 0;
    img {
      border-radius: 6px;
    }
  }

  ul li{
    display:inline-block;
  }

  p.name {
    font-weight: bold;
  }
}

span.polaroid {
  height: 10px;
}

article {
  display: inline-block;
  float: left;
  margin: 1.5em 0;
  width: 75%;

  .tabBlock {
    border-bottom: 1px solid #ddd;
    height: 2.65em;
    margin: 0 0 15px;
    .button {
      background-color: #F5F5F5;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      display: inline-block;
      float: right;
      padding: .25em 1em;
    }
  }
  .tabNav {
    display: inline-block;
    margin: .5em 0;
    padding: 0;
    li{
      background-color: white;
      float: left;
      padding: 0;
      margin-bottom: -1px;
        &:active{
        height: 34px;
        }
      }
     span {padding: .25em;}
     a {
        border-top: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-radius: 3px 3px 0 0;
        padding: 1em;
      }
   }
}

.pop-rop {
  float: left;
}
