<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/githubicons/octicons.css">
  <meta charset="UTF-8">
  <title>gitRemix</title>
</head>
<body>
  <header>
    <nav>
      <ul class="left">
        <li><a href="#"><span class="mega-octicon octicon-mark-github"></span></a></li>
        <li><input type="search" results=5 placeholder="Search GitHub..." name=s></li>
      </ul>
      <ul class="mid">
        <li><a href="#">Explore</a></li>
        <li><a href="#">Gist</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <ul class="right">
        <li><a href="#"><img src="https://avatars2.githubusercontent.com/u/5555065?v=2&s=40Name" />
          <span class="name">Name</span></a></li>
        <li><a href="#"><span class="octicon octicon-plus"></span>
                        <span class="octicon octicon-triangle-down tiny"></span></a></li>
        <li><span class="octicon octicon-inbox"></span></li>
        <li><span class="octicon octicon-gear"></span></li>
        <li><span class="octicon octicon-sign-out"></span></li>
      </ul>
    </nav>
  </header>
  <section class="profile">
    <div class="page-wrapper">
    <div id="sidebar"></div>
      <article>
          <div class="tabBlock">
            <ul class="tabNav">
              <li data-target='contributions'><a href="#"><span class="octicon octicon-diff-added"></span>Contributions</a></li>
              <li data-target='repositories'><a href="#"><span class="octicon octicon-repo"></span>Repositories</a></li>
              <li data-target='public'><a href="#"><span class="octicon octicon-rss"></span>Public activity</a></li>
            </ul>
            <button class="button"><span class="octicon octicon-pencil"></span>Edit Profile</div>
          </div>
          <div class="pop-rop">
            <section id="contributions">
              </section>
            <section id="repositories"><div id="popRop"></div></section>
            <section id="public">Other</section>
          </div>

          <div class="testing">
            <section class='request'>
              <div class='error'></div>
              <div class='info'>
                <h1>Results</h1>
              </div>
              <div class='info2'>
                <h1>Results</h1>
              </div>
            </section>
          </div>
      </article>
    </div><!-- END OF PAGE WRAPPER -->
  </section>
  <script type="text/template" id="tabTemplate">
    <ul>
        <li><h3 class="repo-list-name"><%= name %></h3></li>
        <li><h4><%= description %></h4></li>
        <li><h3>Last updated <%=updated_at %></h3></li>
    </ul>
  </script>
  <script type="text/template" id="sidebarTemplate">
    <aside>
      <div id="avatar">
        <img src="<%= avatar_url %>" />
      </div>
            <h1><%= name %></h1>
            <h2><%= login %></h2>
          <hr>
            <span class="octicon octicon-clock"></span><%= created_at %>
          <hr>
            <ul>
              <li>Followers</li>
              <li>Starred</li>
              <li>Following</li>
            </ul>
          <hr>
            <p>Organizations</p>
            <span class="polaroid">
              <img height="42" width="42" src="https://avatars3.githubusercontent.com/u/8710678?v=2&s=84" alt="">
            </span>
    </aside>
  </script>
  <script src='underscore/underscore.js'></script>
  <script src="jquery/dist/jquery.js"></script>
  <script src='scripts/main.js'></script>
</body>
</html>
